/*
Primary color: #2bbbad;
Secondary color: #3f87b9;
#3f87b9!important
#5c5756!important //dark gray
menu-> #a7a7a7;
*/
/* @font-face {
    font-family: "築紫A丸ゴシック ボールド";
    src: local(TsukuARdGothic-Bold);
} */
body {
    font-family: Helvetica Neue,Helvetica,YuGothic,Yu Gothic,'ヒラギノ角ゴ Pro W3',Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳＰゴシック",sans-serif;
}
a {
    color: #2e2e2e !important;
}
strong {
    font-weight: 500;
    color: #5f5e69;
}
html [type=button] {
    -webkit-appearance: none;
}
.mobile-br a br{
    display: none;
}
.primary-button:hover {
    background-color: #670e0a !important;
    color: #fff;
}
.primary-color {
    color: #2bbbad;
}
.secondary-color {
    color: #3f87b9;
}
.common-section {
    padding: 24px 0 45px;
}
/* START TOP MENU SECTION ================================== */
.top-menu {
    padding-top: 14px;
    padding-bottom: 10px;
}
.pull-right {
    float: right;
}
.logo {
    width: 70px;
    height: 70px;
    margin-right: 14px;
}
.bottom-menu-item .dropdown-item:focus, 
.bottom-menu-item .dropdown-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #ebeaea;
}
.bottom-menu-item .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #ebeaea;
    color: #000 !important;
    font-weight: 400;
}
.bottom-menu-item .dropdown-menu a {
    font-weight: 500;
    color: #000 !important;
}
li.fixed-logo-cover {
    display: none;
}
li.fixed-logo-cover:hover {
    background-color: transparent;
}
.logo-fixed {
    width: 45px;
    height: 45px;
    margin-right: 14px;
}
.logo-span {
    font-weight: 600;
}
.main-navbar-wrapper.opaque-navbar .logo-span {
    display: none;
}
.right-item-top {
    display: inline-flex;
    flex-direction: row !important;
}
.right-item-top .nav-link {
    color: #000 !important;
    font-weight: 500;
}
.right-item-top .first-nav-item {
    margin-right: 1em;
}
li.btn-contact {
    vertical-align: middle;
    display: inline-block;
}
.btn-contact a {
    margin: 0;
}
.hide-mobile-menu {
    display: none;
}
.top-right-toggler {
    float: right;
    margin-top: 12px;
}
.fixed-button-toggler-wrapper {
    /* display: none; */
}
.opaque-navbar a.navbar-brand {
    display: none;
}
.top-right-toggler {
    display: none;
}

/* START MAIN MENU SECTION ================================== */

.right-item .nav-link {
    color: #928a6d !important;
    font-weight: 500;
}
.primary-button {
    padding: .70rem 1.1rem;
    font-size: 0.91rem;
    background-color: #ff7a67 !important;
    color: #fff!important;
}
.btn-default:hover {
    background-color: #3f87b9!important;
}
.primary-button i {
    padding-right: 0.5em;
}
.main-navbar {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    box-shadow: none !important;
    padding-bottom: 0;
}
.main-navbar-wrapper {
    
    padding-bottom: 1em;
}
.bottom-menu-item li.nav-item {
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    border-left: 1px solid #ebebeb;
    line-height: 5px;
    border-width: 2px;
}
.bottom-menu-item li.nav-item:last-child {
    border-right: 1px solid #ebebeb;
}
ul.navbar-nav.bottom-menu-item {
    width: 100%;
    display: table;
}
.bottom-menu-item li.nav-item.active {
    background-color: #fff;
}
.bottom-menu-item li.nav-item.active .nav-link {
    color: #000 !important;
    font-weight: 600;
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 600;
}
.bottom-menu-item li.nav-item:hover {
    background-color: #fff;
    transition: 0.8s;
}
.nav-item.hover-bg:hover {
    background-color: #44494b !important;
}
.nav-item.hover-bg .nav-link:hover {
    color: #fff !important;
}
/*.bottom-menu-item li a {
    color: #435460 !important;
}*/
.bottom-menu-item li a:hover {
    color: #000 !important;
}
.opaque-navbar.opaque {
    background-color: #fff;
    transition: background-color .5s ease 0s;
    border-bottom: 4px solid #7c231f;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.fixed-top-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-link.fixed-menu-nav-link {
    color: #000 !important;
}
.bottom-menu-item li.nav-item.active .nav-link.fixed-menu-nav-link {
    color: #fff !important;
}
.fixed-button-toggler-wrapper {
    margin-top: 5px;
}
.fixed-button-toggler-wrapper a {
    font-size: 12px;
}
.common-img {
    width: 100%;
}
.contact-button {
    float: right;
    background-color: #ea4855;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff !important;
}
.contact-button i {
    font-size: 16px;
    margin-right: 12px;
}
.doctor-message {
    margin-top: 55px;
    margin-bottom: 56px;
}
.button-mid {
    margin-bottom: 45px;
}
.footer-image {
    margin-bottom: 30px;
}
.cons-btn {
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    width: 50%;
    margin-bottom: 15px;
}
.cons-footer-image {
    margin-bottom:30px;
    margin-top: 15px;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8 {
    width: 100%;
    margin-bottom: 30px;
}
.right-item {
    display: none;
}
.top-bg-container {
    margin-top: 1em;
}
.md-screen-navbar-nav {
    display:none;
}
.top-button-toggler-mb-screen {
    display: none;
} 
/* .top-section {
    margin-top: 4.5em;
} */
.contact-mb-screen {
    display: block;
} 
.second-menu-navbar .col-md-12 {
    padding: 0;
}
.navbar-width-screen {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}
.second-menu-mb-screen ul li a {
    color: #9d9071 !important;
}
/* for consultation page */
.cons-anchor-top {
    text-decoration: underline;
}
.q10blockContainer {
    display: none;
}
.question-ans-section {
    background-color: #fbf9f1;
    padding: 4em 3em;
}
.btn-custom-cons {
    background-color: #bbaf85;
    color: #fff;
}
.question1,
.question2,
.question3,
.question4,
.question5 {
    border-bottom: 1px solid #dfd6b6;
    margin-bottom: 30px;
}

.question1 span,
.question2 span,
.question3 span,
.question4 span,
.question5 span,
.question6 span {
    color: red;
    margin-left: 10px;
    font-weight: 600;
}
.question1 p,
.question2 p,
.question3 p,
.question4 p,
.question5 p,
.question6 p {
    margin-left: 14px;
    font-size: 18px;
    color: #555555;
    font-weight: 600;
}
.question1 h5 {
    font-size: 18px;
    color: #555555;
    font-weight: 600;
}
.question1 .form-check {
    margin-bottom: 20px;
}
.question1 h2,
.question2 h2,
.question3 h2,
.question4 h2,
.question5 h2,
.question6 h2 {
    color: #928a6d;
    font-weight: 500;
    font-size: 32px;
    font-family: sans-serif;
}
.question1-radio,
.question2-radio,
.question3-radio,
.question4-radio,
.question5-radio,
.question6-radio {
    margin-left: 4em;
    margin-top: 24px;
    margin-bottom: 30px;
}
.question1-radio label,
.question2-radio label,
.question3-radio label,
.question4-radio label,
.question5-radio label,
.question6-radio label {
    
    font-weight: 500;
    font-family: sans-serif;
}
.text-instr {
    margin-left: 4em;
    font-size: 18px;
    color: #555555;
    font-weight: 600;
}
.checkbox-wrapper .form-check-inline label {
    font-weight: 500;
    font-family: sans-serif;
}
.checkbox-wrapper {
    margin-left: 4em;
    margin-top: 24px;
    margin-bottom: 30px;
}
.question4 .form-group textarea,
.question5 .form-group textarea,
.question6 .form-group textarea {
    margin-left: 4em;
    width: 67%;
}
.question-ans-section .form-check-input {
    position: absolute !important;
}
.btn-custom-cons {
    margin: 30px auto;
    display: table;
    
}
.question-ans-container {
    margin-bottom: 45px;
}
.cltn-q1-drpdown-wrap .form-check-inline {
    margin-left: 0;
}
#showQuestion1Dropdown {
    display: none;
}
.question4-pulldown-wrapper {
    margin-left: 4em;
}
.question4-pulldown-wrapper table thead {
    color: #fff;
    background-color: #555555;
    border-color: #555555;
}
.question4-pulldown-wrapper table thead,
.question4-pulldown-wrapper table tbody tr td {
    font-size: 1.1rem;
}
.question4-pulldown-wrapper {
    /* display: none; */
}
.question5-select {
    background-color: #fbf9f1;
}
.q5-inner-select {
    margin-left: 2.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.wrapper-of-select-wrap {
    padding-bottom: 30px;
}
.datepicker-wrapper {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 3.5rem;
}
.datepicker-wrapper1 {
    font-weight: 600;
    color: #555;
    margin-left: 14px;
}
#adjustmentPulldown {
    display: none;
} 
#iregularityPulldown {
    display: none;
}
#iregularityPulldown select {
    width: 70%;

}
.question2to {
    margin-left: 14px;
    font-size: 18px;
    color: #555555;
    font-weight: 600;
    margin-bottom: 20px;
}
.question2to h2 {
    color: #928a6d;
    font-weight: 500;
    font-size: 32px;
    font-family: sans-serif;
}
.question2-inner {
    padding-bottom: 30px;
}
.question-2_1_inner {
    margin-left: 14px;
}
.datepicker-common {
    font-weight: 600;
    color: #555;
    margin-left: 14px;
}
#maleQuestionPulldown {
    display: none;
    padding-bottom: 30px;
}
#selectmaleQuestion10 {
    display: none;
    padding-bottom: 30px;
}
.questiondateRange {
    border-bottom: 1px solid #dfd6b6;
    margin-bottom: 30px;
}
.questiondateRange h2 {
    color: #928a6d;
    font-weight: 500;
    font-size: 32px;
    font-family: sans-serif;
    padding-bottom: 12px;
}
.highlight-gender {
    padding-bottom: 12px;
}
.questiondateRange p {
    margin-left: 14px;
    font-size: 18px;
    color: #555555;
    font-weight: 600;
}
.questiondateRange .input-daterange {
    margin-bottom: 2em;
    margin-left: 2.5em;
}
#dateRangeWrapper {
    display: none;
}
.q5-inner-title {
    margin-left: 3.5rem;
    /* margin-bottom: 15px; */
    font-weight: 600;
    font-size: 20px;
}
.form-check-first-wrapper,
.form-check-second-wrapper {
    margin-left: 3.1em;
}
.form-check.form-check-first-wrapper,
.form-check-second-wrapper {
    font-weight: 500;
}
.question_male29_wrapper {
    margin-left: 3.8em;
}
.consult-btn-wrap {
    display: table;
    margin: 0 auto;
}
.qs4-checkbox {
    margin-top: 12px;
}
.input-wrapper {
    display: none;
    margin-top: 1.5em;
}
.radio-inline-q3 {
    margin-left: 1.5em;
}
.pregnency-history-table thead {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
.question3-select-wrap {
    margin-left: 2em;
}
#q2selectHide {
    display: none;
}
.table td, 
.table th {
    padding: .75rem !important;
}
.q5default-layout table tr td {
    font-size: 1.1rem;
}
.q5default-layout {
    margin-left: 4em;
}
.q5default-layout table tr td {
    width: 20%;
}
#q3smokeCigarrate {
    display: none;
}
.q3smoke-cigarrate-wrapper {
    padding-bottom: 30px;
}
.pulldownsmoke {
    margin-left: 3em;
}
#q3Alcohol {
    display: none;
    padding-bottom: 30px;
}
.doulble-checkbox-wrapper {
    margin-top: 12px;
}
#doubleCheckboxPulldown {
    display: none;
}
.maleq6 {
    padding-bottom: 30px;
}
#maleq19doubleCheck {
    display: none;
}
#male20Pulldown,
#male21Pulldown {
    display: none;
}
#male20Pulldown,
#male21Pulldown {
    padding-bottom: 30px;
}
#male21Pulldown {
    display: none;
}
.inputWrapperq26 {
    display: none;
    margin-left: 4em;
    padding-bottom: 30px;
}
.inputWrapperq27 {
    display: none;
    margin-left: 4em;
    padding-bottom: 30px;
}
#maleq28Wrapper {
    padding-bottom: 30px;
}
#maleq29Wrapper {
    padding-bottom: 15px;
}
.maleq29textarea {
    margin-top: 24px;
}
.basicInfoWrapper {
    border-bottom: none;
}
    












.footer-wrapper-inner {
    margin-top: 4em;
    margin-bottom: 2em;
}
.title-subtitle {
    text-align: center;
    color: #fff;
}
.title-subtitle h2,
.title-subtitle h4 {
    font-weight: 500;
}
.title-subtitle h2 {
    font-size: 24px;
}
.title-subtitle h4 {
    font-size: 16px;
    margin-top: 14px;
}
.footer-wrapper {
    background-color: #f4889f;
}
.copyright {
    text-align: center;
    color: #fff;
    margin-top: 16px;
}
.footer-nav-list ul {
    text-align: center;
}
.footer-nav-list ul li {
    display: inline;
    margin-right: 4em;
}
.footer-nav-list ul li a {
    color: #fff !important;
}
.footer-nav-list {
    border-bottom: 1px solid #ecb3ad;
    margin-top: 3.5em;
}
.col-md-12.footer-wrapper {
    padding: 0;
}
/* start for top page */
.message-wrapper h1 {
    color: #bbaf85;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 36px;
}
.message-wrapper h5 {
    font-weight: 600;
    margin-bottom: 28px;
    color: #333333;

}
.message-wrapper p {
    font-weight: 500;
    line-height: 32px;
}
.common-button {
    background-color: #ea4855;
    text-align: center;
    display: table !important;
    margin: 60px auto 0 !important;
    border-radius: 10px;
    color: #fff !important;
    
}
.common-button i {
    padding-left: 32px;
    font-size: 22px;
}
.message-wrapper {
    margin-top: 1em;
    margin-left: 4.5em;
}
.media img.doctor-md {
    width: 16em;
}
.content-container {
    padding: 0;
}
.content-container p {
    margin-top: 1.5em;
    margin-bottom: 3.5em;
    font-weight: 500;
    line-height: 33px;
    color: #3d3d3d;
}
.question5-inner p {
    margin-left: 3.5em;
}
.question5-sub-inner p {
    margin-left: 3.5em;
}
.content-container .breadcrumb {
    background-color: transparent;
    padding-left: 0;
}
.mb-screen-top-bg {
    display: none;
}
/* Start for about page */

.breadcumb-icon {
    padding-right: .5rem;
    padding-left: .5rem;
}
.about-image-with-title h3 {
    margin-top: 16px;
    margin-bottom: 18px;
}   
.about-bg-wrapper {
    margin-top: 45px;
    margin-bottom: 65px;
}
.about-bg-right {
    margin-top: 0;
    margin-bottom: 25px;
}
.common-about-title {
    border-left: 6px solid #e7e2d0;
    padding-left: 15px;
}
.common-about-title h3 {
    color: #928a6d;
    font-weight: 500;
    margin-bottom: 4px;
}
.common-about-title h1 {
    color: #555555;
    font-weight: 500;
}
.about-right-block-1 h4,
.about-right-block-2 h4 {
    color: #928a6d;
    font-weight: 500;
    margin-top: 30px;
   
    margin-bottom: 30px;
}
.about-middle-bg {
    background-color: #fbf9f1;
    padding-left: 8.333333%;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 0px;
    margin-right: 0;
    
}
.about-bg-left {
    padding-left: 0;
}
.about-middle-left-images,
.about-middle-right-images {
    padding-left: 0;
}
.about-right-block-1 ul li,
.about-right-block-2 ul li {
    list-style: none;
}
.about-right-block-1 ul,
.about-right-block-2 ul {
    padding-left: 0;
}
.about-right-block-1,
.about-right-block-2 {
    margin-top: 30px;
}
.btn-pest {
    background-color: #52c4ba;
    color: #fff !Important;
    font-weight: 600;
    border-radius: 6px;
    width: 350px;
}
.btn-red-custom {
    background-color: #e73f4b;
    color: #fff !Important;
    font-weight: 600;
    border-radius: 6px;
    width: 497px;
    font-size: 1.94rem!important;
    padding: 1.18rem 2.4rem!important;
}
.btn-pest,
.dark-red-button{
    display: table !important;
    margin:0 auto;
}
.button-wrapper {
    margin-top: 45px;
    margin-bottom: 30px;
}
.dark-pest-button {
    margin-bottom: 10px;
}

.about-middle-bg .about-middle-left-images,
.about-middle-bg .about-right-block-1 {
    margin-bottom: 45px;

}
.btn-border-custom {
    border: 1px solid #bbaf85;
    width: 370px;
    font-weight: 600;
    color: #928a6d !important;
    display: table !important;
    margin: 0 auto;
    padding: 0.5rem 2.4rem !important;
    font-size: 24px !important;
    border-radius: 0;
}
.border-button {
    margin-bottom: 4em;
}
.common-bg-wrapper {
    background-image: url("../img/about-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 245px;
}
.about-bg-content {
    display: table;
    margin: 80px auto;
}
.about-bg-content h2 {
    color: #867b53;
    font-weight: 400;
}
.about-bg-content h4 {
    color: #000;
    font-weight: 500;
}
.top-about-bg-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/* Start css for contents page */
.contents-middle {
    background-image: url("../img/contents-middle-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 128px;
    padding-bottom: 99px;
}
.contents-media-left {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-color: #a59f86;
}
.contents-media-left p {
    color: #fff;
    margin-top: 30px;
    margin-left: 24px;
    margin-right: 17px;
}
.contents-middle-inner {
    background-color: #fff;
}
.contents-media {
    margin-top: 2.5em;
    border-bottom: 1px solid #a59f87;
}
.contents-media .media-body {
    margin-left: 45px;
}
.contents-media {
    margin-top: 2.5em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2em;
    margin-bottom: 3em;
}
.contents-middle-inner a {
    margin-top: 1.5em;
}
.contents-media .media-body p {
    color: #000;
    font-weight: 500;
}
.about-image-with-title h2 {
    margin-top: 0.5em;
    color: #bbaf85;
}
.about-image-with-title {
    padding-top: 2em;
    margin-bottom: 4em;
}
.content-price-left img {
    /* width: 165px;
    height: 264px; */
}
.contents-list-order {
    background-color: #bbaf85;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    color: #fff;
    padding-top: 3px;
    margin-right: 12px;
}
.contents-price-right-inner ul li {
    list-style: none;
    display: inline-flex;
    font-weight: 500;
    color: #555;
    font-size: 17px;
}
.contents-price-right-inner ul li:first-child {
    margin-right: 30px;
    width: 196px;
}
.content-price-left-inner {
    background-color: #faf7ed;
    padding-top: 40px;
    padding-bottom: 38px;
    margin-left: 45px;
}
.legend-wrapper fieldset {
    border: 1px solid #bbaf85 !important;
    margin: 0 2px !important;
    padding: .35em .625em .75em !important;
}
.legend-wrapper legend {
    display: table;
    width: 54%;
    padding: 5px 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    margin: 0 auto;
    background-color: #bbaf85;
    text-align: center;
    color: #fff;
}
.content-price-left h3 {
    color: #555;
    margin-top: 16px;
}
.content-price-left img {
    display: table;
    margin: 0 auto;
}
.contents-price-right .card-header {
    padding: .55rem 1.25rem;
    margin-bottom: 0;
    background-color: #bbaf85;
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #fff;
}
.contents-price-right-inner {
    padding: 2em 3.2em;
}
.contents-price-right-inner ul {
    padding-left: 0;
}
.contents-price-right .card {
    border: 1px solid #bbaf85;
}
.contents-second-card {
    margin-top: 30px;
}
.legend-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
}
.legend-wrapper ul {
    margin: 2em;
}
.legend-wrapper ul li {
    color: #555;
    font-size: 18px;
    font-weight: 500;
}
.legend-wrapper ul li:first-child {
    margin-bottom: 18px;
}
.content-red-wrap {
    margin-top:3em;
}
/* Start style for faq page */
.about-bg-content h1 {
    color: #867b53;
    font-weight: 400;
}
.underline-faq {
    text-decoration: underline !important;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}
.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #555;
    background-color: #ffe9ee;
    border-color: #ffe9ee;
}
.panel-title {
    font-size: 16px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 0;
}

.panel-title > a {
    display: block;
    padding: 15px 24px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    color: #555;
    font-size: 16px;
    font-weight: 500;
}
.panel-faq .panel-collapse .panel-body {
    padding: 1.25rem;
}
.panel-faq .panel {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 0.5em;
}
.panel-faq .panel .panel-heading {
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.question-color {
    color: #928a6d;
    margin-right: 10px;
}
.faq-title {
    color: #555;
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-weight: 500;
}

.panel-faq {
    margin-bottom: 4em;
}
/***********************************************************/
/*             Column and column-under page                */
/***********************************************************/

.mobile-common-img {
    display: none;
}
.columnceo-mobile-bg {
    display: none;
}
.bg-pink {
    background-color: #f4889f;
}

.column-bg-wrapper {
    background-image: url("../img/column-bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.col-wrapper {
    position: relative;
    
}
.col-topbg-mobile {
    display: none;
}
.colright-mobile {
    display: none;
}
.comlumn-text {
    width: 58%;
    position: absolute;
    bottom: 54px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
    line-height: 32px;
    background: rgba(255, 255, 255, 0.5);
    height: 162px;
}
.column-bg-title-wrapper {
    display: table;
    margin: 80px auto;
    color: #fff;
}
.column-bg-content {
    display: table;
    padding-top: 43px;
    padding-bottom: 112px;
    margin: 0 auto;
}
.breadcrumb {
    background-color:transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: none;
}
.column-bg-content h2 {
    color: #333;
}
.column-images-section {
    display: inline-flex;
    margin-left: 8.3333333%;
    margin-right: 8.333333%;
}
.column-single-img-common {
    height: 270px;
    width: 100%;
    object-fit: cover;
}
.text-column-inner {
    font-size: 22px;
    color: #555;
    font-weight: 600;
}
.column-common-img-container {
    display: flex;
    margin-bottom: 30px;
    padding: 0;
}
.column-images-wrapper {
    margin-top: 3.5em;
    margin-bottom: 2em;
}
.column-bottom-before-title {
    border-bottom: 3px solid #57aeb2;
    padding-bottom: 5px;
    margin-bottom: 1em;
    font-size: 25px;
    color: #006699;
    font-weight: 600;
    line-height: 27px;
}
.column-bottom-before-list li {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    color: #787878;
    text-decoration: underline;
}
.column-bottom-before-list li a {
    color: #787878 !important;
} 
.column-bottom-before-list li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    font-weight: 900;
    color: #ff3399;
    font-size: 30px;
}
.column-after-red-text {
    color: #ff3300 !important;
    font-size: 19px !important;
    text-align: left;
    font-weight: 600 !important;
    line-height: 32px !important;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 3em;
}
.colunder-bottommedia-container {
    margin-top: 15px;
    margin-bottom: 15px;
}
.colunder-bottommedia-container .media {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.red-button-common {
    margin-top: 2em;
    margin-bottom: 2.5em;
}
.column-top-bg-content {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 54%;
    top: 0;
}   
.left {
    float: left;
} 
.right {
    float: right;
}
.top-arrow-img {
    max-width: 100%;
}
.text-1-right {
    color: #04237c;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 0;
}
.col-yellow-text {
    color: #ffffcc;
    font-weight: 600;
    font-size: 26px;
}
.col-white-text {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
}
.col-right-wrap {
    position: absolute;
    top: 10.5em;
    text-align: center;
    width: 100%;
}    
.top-arrow-bg-wrap {
    position: relative;
    display: inline-block;
    left: 23em;
    top: -1.5em;
}
.col-top-bottom-text p {
    display: inline-block;
    font-weight: 600;
}
.column-bottom-before {
    /* width: 92%;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 45px;
}
.col-middle-left-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
}
.col-common-pink-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    line-height: 80px;
    text-align: center;
    background: #f37790;
    text-transform: uppercase;
}

.col-common-media {
    position: absolute;
    top: 8px;
    left: 30px;
    display: flex;
    align-items: center
}
.common-col-inside {
    margin-bottom: 15px;
    position: relative;
}
.common-mid-text {
    /* vertical-align: middle;
    padding: 24px 13px 12px;
    box-sizing: border-box; */
}
.common-mid-text h4 {
    font-weight: 600;
    color: #000;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 15px;
}

.fixed {
    top:25px!important;
    position: -webkit-fixed!important;
    position: fixed!important;
   
}

.col-ceo-introduce-wrap {
    position: relative;
    top: 55px;
    width: 225px;
    -webkit-transition-delay: top 2s; /* Safari */
    transition-delay: top 2s;
}

.col-ceo-introduce-wrap img {
    position: relative;
    top: 0;
    left: 0;
}

/***********************************************************/
/* Start css for column under page */
.colunder-top-mobile1 {
    display: none;
}
.line-wrapper {
    overflow: hidden;
    text-align: center;
}
.column-under-list-title {
    display: inline-block;
    padding: 0 .25em;
    position: relative;
    text-transform: uppercase;
} 
.line-wrapper h3:before, .line-wrapper h3:after {
    border-top: .2rem solid #777777;
    content: '';
    position: absolute;
    top: .475em;
    width: 9999em;
    z-index: -1;
}
.line-wrapper h3:before {
    right: 100%;
}
.line-wrapper h3:after {
    left: 100%;
}
.colunder-top-mobile2mobile {
    display: none;
}
.col-under-firstone {
    position: relative;
}
.col-under-top1-wrapper {
    display: inline-block;
    position: relative;
}
.col-under-firstone h3 {
    display: inline-block;
}
.colunder-top1-contentwrapper {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 90%;
    top: 33px;
}
.col-under-secondone {
    position: relative;
}



























.col-under-right2-anchor {
    text-decoration: underline;
}
.box {
    width: 686px;
    height: 88px;
    background-color: #ffe4f2;
    color: #000;
    padding: 20px;
    position: relative;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.box.arrow-bottom:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 46%;
    margin-left: 0px;
    width: 0;
    height: 0;
    border-top: solid 20px #57aeb2;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;

}
.common-horizontal-line:before,
.common-horizontal-line:after {
    display: inline-block;
    content: "";
    border-top: .2rem solid #777777;
    width: 11.3em;
    transform: translateY(-1rem);

}
.ceo-bottom-container {
    border-bottom: .2rem solid #777777;
    margin-bottom: 5em;
    margin-top: 4em;
}
.ceo-bottom-container h2 {
    color: #0b367d;
    font-weight: 600;
}
.common-horizontal-line span {
    margin-left: 1rem;
    margin-right: 1rem;
}
.blue-text-common {
    color: #0b367d !important;
    font-weight: 600 !important;
}
.blue-text-common span {
    color: #000;
    padding-left: 10%;
}  
.ceo-right-text {
    font-size: 16px;
    margin-bottom: 0;
}
.col-under-firstone h3 {
    /* position: absolute;
    top: 35px;
    left: 17%; */
    color: #fd6987;
    font-weight: 600;
    padding-left: 14px;
    padding-top: 6px;
}
.col-under-firstone h3 span {
    color: #ff0000;
}
.col-under-top1-wrapper {
    position: relative;
    top: -5px;
}
.col-under-top1-wrapper  img {
    max-width: 100%;
}
.colunder-arrow-text {
    position: absolute;
    top: 8px;
    font-weight: 600;
    color: #215cbf;
    font-size: 18px;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.colunder-common-media {
    position: absolute;
    top: 5em;
    left: 2em;
    display: flex;
    align-items: center;
}
.column-under-list-title span {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #0b367d !important
}
.column-under-top-list-wrapper {
    border-bottom: .2rem solid #777777;
    margin-bottom: 5em;
    margin-top: 4em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.columnunder-bottom-before-list {
    margin-left: 30px;
}
.columnunder-bottom-before-list li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: #111;
    text-decoration: underline;
}
.columnunder-bottom-before-list li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
    font-weight: 900;
    color: #ff3399;
    font-size: 27px;
}
.column-right-wrap {
    top: 12.5em;
}
.common-heading5 {
    font-weight: 500;
    color: #111;
    margin-bottom: 15px;
}
.common-content-wrapper {
    margin-top: 20px;
    margin-bottom: 32px;
}
.common-content-wrapper h5,
.common-content-wrapper h6 {
    font-weight: 500;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
} 
.common-bg-yellowred {
    background-color: #ffffcc !important;
    color: #ff0000 !important;
    font-weight: 600 !important;
    display: inline;
}
.outside-text-block {
    font-weight: 500;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 36px;
}
.column-under-text-1 p {
    font-weight: 500;
    color: #333;
    font-size: 17px;
    line-height: 1.6;
}
.common-media-body {
    padding-left: 30px;
}
.margin-leftcol {
    margin-left: 10px;
    margin-right: 10px;
}
.colunder-middle2-container {
    width: 90%;
    background-color: #f7f7f7;
    border: 2px solid #aaaaaa;
    padding: 30px 20px 20px 20px !important;
}
.dark-blue-text {
    color: #003399;
}  
.colunder-middle2-container h5,
.colunder-middle2-container h6 {
    text-align: center;
    font-weight: 600;
    color: #003399;
    font-size: 20px;
}  
.column-under-bg2-text {
    position: absolute;
    bottom: 90px;
    color: #333;
    font-weight: 500;
    margin-left: 46px;
    line-height: 37px;
}
.column-mid-img-wrapper {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
.column-mid-left-bg {
    /*background-image: url("../img/col-mid-bg.png");*/
}
.col-title {
    color: #f15474;
    font-weight: 600;
    display: inline-block;
    font-size: 46px;
    margin-top: -19px;
}
.col-sbtitle {
    color: #112372;
    font-weight: 600;
    margin-top: 26px;
}
.arrow-inner-text {
    position: absolute;
    top: 14px;
    font-weight: 600;
    color: #215cbf;
    font-size: 25px;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}
.col-title-red {
    color: #ff0000;
}
.column-under-list-title {
    color: #333;
    font-weight: 500;
}
.column-under-top-list-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
}
.column-under-middle1-list li {
    list-style: none;
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
}
.column-under-middle1 {
    border: 2px solid #aaaaaa;
    padding: 15px;
}
.column-middle-bottom-text {
    margin-top: 1em;
    margin-bottom: 1em;
}
.column-under-middle1-wrapper {
    margin-top: 1em;
    margin-bottom: 2em;
}
.column-under-middle1-list {
    padding-left: 5px;
}
.colunder-order {
    background-color: #fec5df;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding-left: 10px;
    color: #333399;
    margin-right: 12px;
    font-weight: 900;
    border-radius: 12px;
    line-height: 30px;
    padding-top: 0;
}
.colunder-unorder-wrapper li {
    font-weight: 600;
}
.red-text-common {
    color: red;
}
.column-under-text-1 p {
    color: #111111;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 1.5em;
}
.column-under-middle2-list-wrapper {
    border: 1px solid #a6a088;
    padding: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 35px;
}
.column-under-middle2-text {
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 25px;
}
.column-under-bottom-list {
    padding-left: 0;
}
.column-under-bottom-list li {
    list-style: none;
}
.common-bold-black {
    font-weight: 600 !important;
    color: #000 !important;
}
.col-under-media-text-container {
    margin-right: 30px;
}
.column-under-text-1 {
    margin-bottom: 10px;
}
.contents-list-order1 {
    display: inline-block;
    color: #3399cc;
    margin-right: 12px;
    font-weight: 600;
    font-size: 18px;
}   
.unordercol-list li {
    list-style: none;
    margin-bottom: 8px;
    color: #000;
    font-weight: 600;
    font-size: 19px;
}
.unordercol-list-heading5 {
    font-weight: 600;
    color: #000;
    margin-top: 20px;
}
.bol-under-isto {
    background-color: #f7f7f7;
    padding: 26px;
    border: 2px solid #aaaaaa;
    color: #000;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.bol-under-isto span {
    padding-left: 57px;
}
.colunder-middle2-container {
    width: 90%;
}







.c-under-para {
    margin-top: 2em;
}
.price-right-cont {
    background-color: #bbaf85;
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 35px;
    padding-right: 15px;
    width: 90%;
    margin-top: 56px;
}
.contents-price-wrapper {
    background-color: #faf7ed;
    padding-top: 57px;
    padding-bottom: 57px;
}
.cont-text-bold {
    font-weight: 600;
}
.contents-price-right h6 {
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px;
}
/* start style for contact page */
.contact-icon-color {
    color: #9d9071 !important;
}
.danger-icon {
    color: red;
}
.feedback {
    font-weight: 800;
    color: #ff0700;
}
.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #adb5bd solid 1px;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #9d9071;
    background-color: #9d9071;
}
.custom-radio-wrapper {
    margin-left: 25px;
}
.custom-radio-wrapper .custom-control {
    width:12%;
    margin-right: 0px;
}
.contact-select {
    margin-left: 30px;
    width: calc(100% - 2.5rem);
}
.left-icon-title {
    display: table;
    position: absolute;
    top: -1.25rem;
}
.icon-custom {
    font-size: 1.7rem;
}
.genter-title {
    margin-bottom: 2px;
    font-weight: 600;
    color: #555;
    font-size: 20px;
}
.agree-check {
    font-weight: 500;
}
.profile-radio-wrap label {
    font-weight: 500;
}
.basic-radio-wrapper {
    margin-top: 3em;
    margin-bottom: 2em;
}
.consult-end-consult-btn {
    margin-top: 1.5em;
}
#basicInfoBlock {
    display: none;
}
#nextConsultBtn {
    display: table;
    margin: 0 auto;
    color: #fff !important;
}
.contact-select {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    background-color: transparent;
}
.contact-form-inner {
    margin-top: 4em;
}
/* Start responsive for consultation page */
@media (min-width: 382px) and (max-width: 480px) {
    .media img.doctor-md {
        width: 15em;
        position: relative;
        top: 8em;
        display: table;
        margin: 0 auto;
    }
}
@media (min-width: 350px) and (max-width: 767px) {
    .footer-nav-list {
        margin-top: 1.5em;
    }
    .footer-nav-list ul {
        text-align: center;
        padding-left: 0;
    }
    .footer-nav-list ul li {
        display: block;
        margin-left: 0;
        margin-bottom: 12px;
        font-weight: 500;
    }
    /* start responsive for top page */
    .message-wrapper h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .media-top-page-wrapper {
        display: block;
    }
    .media img.doctor-md {
        width: 15em;
        position: relative;
        top: 19.4em;
        display: table;
        margin: 0 auto;
    }
    .message-wrapper-container {
        margin-top: 1em;
        position: relative;
        top: -22em;
    }
    .message-wrapper {
        margin-left: 0;
    }
    .mb-screen-top-bg {
        display: block;
    }
    .not-mb-sreen-top-bg {
        /*display: none;*/
    }
    .message-wrapper p {
        font-weight: 500;
        line-height: 28px;
    }

    /* Start responsive for about page */
    .btn-border-custom {
        width: 100% !important;
    }
    .btn-center{
        float: none!important;
        margin: 0 auto!important;
    }
    .about-bg-left {
        padding-left: 15px;
    }
    .about-middle-bg {
        padding-left: 0;
        margin-left: -15px;
        margin-right: -15px;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    .about-middle-left-images,
    .about-middle-right-images {
        padding-left: 15px;
    }
    

    .btn-pest {
        font-size: .84rem !important;
        width: 316px;
    }
    .common-about-title h3 {
        font-size: 24px;
    }
    .common-about-title h1 {
        font-size: 32px;
    }
    .about-right-block-1 h4, .about-right-block-2 h4 {
        font-size: 20px;
    }
    .about-bg-right {
        margin-bottom: 0;
    }
    .about-bg-right p {
        margin-top: 30px;
    }
    .about-bg-wrapper {
        margin-bottom: 18px;
    }
    .about-image-with-title {
        padding-top: 1em;
        margin-bottom: 2em;
    }
    .about-right-block-1, .about-right-block-2 {
        margin-top: 0;
    }
    .about-middle-right-images {
        margin-bottom: 45px;
    }
    .border-button {
        margin-bottom: 2em;
    }
    .about-bg-content {
        display: table;
        margin: 150px 4px 0;
    }
    .about-bg-content h2 {
        font-size: 24px;
    }
    .about-bg-content h4 {
        font-size: 17px;
    }
    .button-wrapper {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .contents-middle {
        background-image: none;
        padding-top: 13px;
        padding-bottom: 13px;
        
    }
    .content-price-left-inner {
        background-color: #faf7ed;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0;
    }
    .contents-middle-inner {
        background-color: #fff;
        margin-left: 0;
        margin-right: 0;
    }
    .contents-media {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }
    .contents-media .media-body {
        margin-left: 20px;
    }
    .media-body {
        width: 100%;
    }
    .contents-middle-inner a {
        margin-top: 0;
    }
    .price-right-cont {
        background-color: #bbaf85;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 27px;
        padding-right: 15px;
        width: 100%;
        margin-top: 27px;
    }
    .legend-wrapper ul {
        margin: 12px;
        margin-left: 0;
    }
    .legend-wrapper legend {
        width: 54%;
        font-size: 18px;
    }
    .legend-wrapper ul li {
        font-size: 17px;
    }
    .content-red-wrap {
        margin-top: 2em;
    }
    /* Start responsive for contact page */
    .contact-form-inner {
        margin-top: 6em;
    }
    .custom-radio-wrapper .custom-control {
        width: 23%;
    }
 }
@media (min-width: 382px) and (max-width: 429px) {
    .media img.doctor-md {
        top: 16.3em;
    }
    .common-button {
       margin: 0px auto 0;
    }

}
@media (min-width: 430px) and (max-width: 767px) {
    .media img.doctor-md {
        top: 13.5em;
    }
    .common-button {
       margin: 0px auto 0;
    }
    .message-wrapper p {
        font-weight: 500;
        line-height: 24px;
        font-size: 15px;
    }

    .ceo-container {
        padding: 0;
        position: fixed;
        bottom: 26px;
        left: 0;
        z-index: 9;
    }

}
@media (min-width: 576px) and (max-width: 767px) {

    .ceo-container {
        padding: 0;
        position: fixed;
        bottom: 26px;
        left: 0;
        z-index: 9;
    }

    .doctor-message .col-md-10 .common-button {
        margin-top: 36px;
    }

    .arrangeorder{
        display: flex;
        flex-flow: column;
    }

    .one{
        order: 1;
    }

    .two{
        order: 2;
    }

    .three{
        order: 3
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .ceo-container {
        padding: 0;
        position: fixed;
        bottom: 26px;
        left: 0;
        z-index: 9;
    }
    .arrangeorder{
        display: flex;
        flex-flow: column;
    }

    .one{
        order: 1;
    }
    .two{
        order: 2;
    }
    .three{
        order: 3
    }
    .footer-nav-list ul li {
        margin-left: 1em;
    }
    .message-wrapper {
        margin-top: 0;
        margin-left: 1.5em;
    }
    .message-wrapper h5 {
        margin-bottom: 1.5rem;
    }
    .message-wrapper p {
        line-height: 29px;
        font-size: 13px;
    }
    .doctor-message .col-md-10 .common-button { 
        margin: 27px auto 0;
    }
    /* start responsive for about page */
    .about-bg-content {
        display: table;
        margin-top: 18%;
        margin-left: 57%;
    }
    .about-image-with-title {
        padding-top: 1em;
        margin-bottom: 2em;
    }
    .about-bg-right p {
        font-size: 14px;
    } 
    .about-bg-wrapper {
        margin-bottom: 10px;
        margin-top: 32px;
    }
    .common-about-title h1 {
        font-size: 32px;
    }
    .common-about-title h4 {
        font-size: 17px;
    }
    .about-right-block-1 h4, .about-right-block-2 h4 {
        margin-top: 16px;
        margin-bottom: 24px;
        font-size: 15px;
    }
    .border-button {
        margin-bottom: 3em;
    }
    /* start for content page */
    .contents-middle-inner {
        background-color: #fff;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .contents-media {
        margin-top: 1.5em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0;
        margin-bottom: 2.5em;
    }
    .contents-middle {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .content-price-left-inner {
        margin-left: 0;
    }
    .contents-price-wrapper {
        padding-top: 18px;
        padding-bottom: 33px;
    }
    .price-right-cont {
        background-color: #bbaf85;
        padding-top: 35px;
        padding-bottom: 41px;
        padding-left: 23px;
        padding-right: 10px;
        width: 100%;
        margin-top: 29px;
    }
    /* start responsive for contact page */
    .contact-form-inner {
        margin-top: 6em;
    }
    .question-ans-section .form-check-input {
        position: absolute !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .about-image-with-title {
        padding-top: 0;
    }
    .about-bg-wrapper {
        margin-bottom: 28px;
    }
    .contents-img-with-title {
        padding-top: 3em;
    }
    .price-right-cont {
        margin-top: 40px;
    }
    .contents-price-wrapper {
        padding-top: 30px;
        padding-bottom: 48px;
    }
    /* Start responsive for faq page */
    .faq-title {
        margin-bottom: 2em;
    }
    /* start responsive for contact page */
    .contact-form-inner {
        margin-top: 4em;
    }
}

@media (min-width: 992px) and (max-width: 4000px) {
    .mb-nav.navbar-width-screen {
        box-shadow: none;
    }
    .top-button-toggler-mb-screen {
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 991px) {
    .logo-img {
        width: 70%;
    }
    .top-button-toggler-mb-screen {
        background-color: #ea4855;
    }
    .mb-screen-collapse ul li {
        border-top: 1px solid #f489a0;
        border-bottom: 1px solid #f489a0;
        text-align:center;
    }
    .mb-screen-collapse ul li a {
        color: #9d9071 !important;
        font-size: 20px;
        font-weight: 600;
    }
    
    .right-item-mb {
        padding: 0 !important;
    }
    
    .md-screen-navbar-nav {
        background-color: rgba(254, 240, 240, 0.9);
    }
    .doctor-message {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .message-img,
    .doctor-img {
        display: block !important;
    }
    .screen-sm-none {
        display:none;
    }
    .doctor-img {
        width: 50%;
        display: table;
        margin: 0 auto;
    }
    .message-img {
        margin: 0 auto;
        width: 100%;
    }
    .contact-mb-screen {
        display: none !important;
    }
    .md-screen-navbar-nav {
        display:block;
        margin-top: 7px;
    }
    .top-button-toggler-mb-screen {
        display: block;
    }
    .second-menu-navbar {
        display: none;
    }
    .navbar-width-screen {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: #ffffff;
    }
    .top-bg-container {
        margin-top: 5em;
    }
    .top-section {
        margin-top: 4.5em;
    }
    /* start responsive for about page */
    .common-bg-wrapper {
        margin-top: 0.5em !important;
    }
    .common-pages-container {
        margin-top: 4em;
    }
    /* End responsive for about page */
}
@media (min-width: 350px) and (max-width: 410px) {
    .logo-img {
        width: 12em;
    }
    .content-container p {
        font-size: 13px;
    }
}
@media (min-width: 350px) and (max-width: 767px) {
    .content-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .question-ans-section {
        background-color: #fbf9f1;
        padding: 3em 1.5em;
    }
    .question1 h2, 
    .question2 h2, 
    .question3 h2, 
    .question4 h2, 
    .question5 h2, 
    .question6 h2 {
        font-size: 26px;
    }
    .question1 span, 
    .question2 span, 
    .question3 span, 
    .question4 span, 
    .question5 span, 
    .question6 span {
        color: red;
        margin-left: 0px;
        font-weight: 600;
    }
    .faq-title {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
    }
    .panel-title > a {
        display: block;
        padding: 15px 18px;
        text-decoration: none;
    }
    .panel-faq {
        margin-bottom: 2em;
    }
    .question-ans-section .form-check-input {
        position: absolute !important;
    }
    .text-instr {
        font-size: 16px;
    }
    
}
@media (min-width: 350px) and (max-width: 479px) {
    .bol-under-isto.cost-of-isto.one-of-one-box-wrap {
        padding: 15px !important;
    }
    .question-ans-section .form-check-inline {
        display: block;
        margin-left: .75rem;
    }
    .question1 p, .question2 p, .question3 p, .question4 p, .question5 p, .question6 p {
        font-size: 14px;
    }
    .btn-red-custom {
       width: 100%;
       font-size: 1rem!important;
       margin-left: 0;
    }
    .red-button-common {
        width: 100%;
    }
    .footer-nav-list ul li {
        margin-right: 0;
    }
    .col-ceo-introduce-wrap {
        width: 100%;
        top: 30px;
    }
    .ceo-container {
        padding: 0;
    }
    
    
}

@media (min-width: 480px) and (max-width: 767px) {
    .about-bg-content { 
        float: right;
    }
    .col-ceo-introduce-wrap {
        width: 100%;
        top: 43px;
    }
    .btn-red-custom {
        width: 100%;
        margin-left: 0;
        font-size: 1.5rem!important;
    }
    .footer-nav-list ul li {
        margin-right: 0;
    }
    .bol-under-isto.cost-of-isto.one-of-one-box-wrap {
        width: 100% !important;
    }
    
}
/* Start for consultation profile page */
.label-span {
    color: red;
    margin-left: 10px;
    font-weight: 600;
}
.checkbox-container .form-check .form-check-input {
    margin-left: 0;
}
.counsult-profile .form-group {
    border-bottom: 1px solid #dfd6b6;
    margin-bottom: 30px;
}   
.counsult-profile .form-group .col-8,
.counsult-profile .form-group .col-3 {
    margin-bottom: 3em;
}
.content-container .breadcrumb-item+.breadcrumb-item::before {
    content: none;
}
.content-container .breadcrumb-item {
    font-size: 16px;
    font-weight: 500;
}
.btn-thankyou {
    margin-bottom: 5em;
    display: table !important;
}
.contact-submit-button {
    padding: .70rem 1.1rem;
    font-size: 0.91rem;
    background-color: #9d9071 !important;
    color: #fff!important;
}
.first-step-wrapper {
    padding: 1em;
}
.common-bg-wrapper {
    margin-top: 1em;
}

/* Start style for comming soon page */
.comming-soon-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
}
.comming-text {
    margin-bottom: 18px;
}




@media (min-width: 400px) and (max-width: 479px) {
    .col-title {
        font-size: 26px !important;
    }
}
@media (min-width: 413px) and (max-width: 479px) {
    .col-title {
        font-size: 27px !important;
    }
    .col-sbtitle {
        font-size: 20px !important;
    }
}
/* Start responsive for updated column page */

@media (min-width: 300px) and (max-width: 479px) {
    .col-middle-left-wrap {
        padding-top: 10px;
        padding-bottom: 0;
    }
    .common-col-inside {
        margin-bottom: 10px;
    }
    .column-mid-left-bg {
        padding: 0;
    }
    .top-arrow-img {
        max-height: 176px;
    }  
    .arrow-inner-text {
        top: 9px;
        font-size: 22px;
     }
    .col-topbg-web {
        display: none;
    }
    .col-topbg-mobile {
        display: block;
        position: relative;
        min-height: 100%;
    }
    .columnview-container {
        margin-top: 4.5em;
    }
    .col-sbtitle {
        margin-top: 0;
        font-size: 16px;
        text-align: center;
    }
    .top-arrow-bg-wrap {
        position: relative;
        display: inline-block;
        left: 23em;
        top: 2em;
        left: 50%;
        transform: translate(-50%, -73%);
    }
    .top-arrow-img {
        max-width: 161px;
    }
    .arrow-inner-text {
        font-size: 19px;
    }
    .column-top-bg-content { 
        width: 90%;
        top: 16px;
    }
    .col-title {
        color: #f15474;
        font-weight: 600;
        font-size: 21px;
        text-align: center;
        width: 100%;
        margin-top: -3px;
        margin-bottom: 0;
    }
    .col-top-bottom-text p {
        display: inline-block;
        font-weight: 600;
        font-size: 13px;
    }
    .col-top-bottom-text {
        margin-top: -29px;
    }
    .col-title span {
        display: block;
    }
    .column-mid-img-wrapper {
        width: 100%;
    }
    .column-mid-left-bg {
        background-image: none;
        background-color: #57aeb2;
    }
    .mobile-common-img {
        display: block;
    }
    .web-common-img {
        display: none;
    }
    .col-common-pink-circle {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 10px;
    }
    .common-mid-text h4 {
        font-size: 13px;
        line-height: 22px;
        padding-left: 10px;
    }
    .col-common-media {
        top: 12px;
        left: 7px;
    }
    .column-bottom-before-list li {
        font-size: 18px;
    }
    .column-bottom-before-list li:before {
        margin-left: -1.3em;
        font-size: 24px;
    }
    .column-bottom-before-title {
        border-bottom: 3px solid #57aeb2;
        padding-bottom: 5px;
        margin-bottom: 1em;
        font-size: 19px;
        margin-top: 1em;
    }
    .column-after-red-text {
        font-size: 17px !important;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 2em;
    }
    .columnceo-mobile-bg {
        display: block;
    }
    .column-ceo-web-bg {
        display: none;
    }
    .col-right-web {
        display:none;
    }
    .colright-mobile {
        display: block;
        top: 1.7em;
        text-align: center;
        width: 100%;
        color: #ffffff;
    }
    .yellow-mb-btn {
        color: #ffffcc;
    }
    .colright-mobile p {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
        margin-left: 19%;
    }
    .column-bottom-before {
        margin-top: 50px;
    }
    .col-ceo-introduce-wrap img {
        max-width: 100%;
        height: 71px;
    }
    /* start responsive for column under page */
    .box {
        width: 100%;
        height: 88px;
        background-color: #ffe4f2;
        color: #000;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .columnunder_container .col-under-secondone .media {
        display: flex;
    }
    .columnunder_container {
        margin-top: 4em;
    }
    .colunder-top-mobile1 {
        display: block;
        position: relative;
        height: 65px;
        max-width: 100%;
    }
    .colunder-top1-web {
        display: none;
    }
    .col-under-top1-wrapper img {
        max-width: 100%;
    }
    .col-under-firstone h3 {
        font-size: 14px;
    }
    .colunder-top-mobile2mobile {
        display: block;
    }
    .colunder-top-mobile2web {
        display: none;
    }
    .common-horizontal-line:before, .common-horizontal-line:after {
        width: 3.7em;
    }
    .common-horizontal-line span {
        font-size: 24px;
    }
    .colunder-top1-contentwrapper {
        width: 100%;
        top: 23px;
        padding-left: 5px;
    }
    .col-under-firstone h3 {
        padding-left: 5px;
    }
    .column-under-list-title span {
        font-size: 20px;
    }
    .column-under-top-list-wrapper {
        width: 100%;
    }
    .colunder-common-media {
        top: 2em;
        left: 1em;
    }
    .content-container .breadcrumb {
        margin-bottom: 0;
    }
    .col-under-secondone {
        top: -8px;
    }
    .column-under-top-list-wrapper {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .columnunder-bottom-before-list {
        margin-left: 0;
    }
    .columnunder-bottom-before-list li:before {
        font-size: 25px;
    }
    .columnunder-bottom-before-list li {
        font-size: 16px;
    }
    .column-under-text-1 .media {
        display: block;
    }
    .common-media-body {
        padding-left: 0;
    }
    .column-under-middle2-list-wrapper {
        width: 100%;
        padding: 15px !important;
    }
    .unordercol-list li {
        font-size: 17px;
    }
    .bol-under-isto {
        padding: 10px;
        font-size: 18px;
        width: 100% !important;
    }
    .bol-under-isto span {
        padding-left: 25px;
    }
    .col-under-media-text-container {
        margin-right: 0;
    }
    .colunder-middle2-container h5,
    .colunder-middle2-container h6 {
        padding-top: 15px;
    }
    .ceo-right-text {
        font-size: 14px;
        margin-bottom: 0;
        padding-left: 12px;
    }
    .blue-text-common span {
        padding-left: 5%;
    }
    .colunder-right-section {
        display: none;
    }
    .column-under-text-1 .media img {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .top-first-right-img {
        margin-bottom: 15px;
    }
    /* Start responsive for inconvenient truth [Article-2] page (350-479)*/
    .common-responsive-img {
        max-width: 100%;
    }
    .column-under-text-1 .inconvenient-media-wrap img {
        max-width: 100% !important;
    }
    .incon-truth-red-btn a {
        width: 100%;
    }
    /* Start responsive for Cost of infertility [Article-3] page (350-479)*/
    .cost-graph1-text {
        margin-left: 0 !important;
    }
    .cost-graph-list {
        margin-left: 0 !important;
    }
    .cost-of-middle-container {
        margin-bottom: 0;
    }
    .column-under-list-title {
        font-size: 25px;
    }
    .ceo-bottom-container {
        border-bottom: .2rem solid #777777;
        margin-bottom: 3em;
        margin-top: 2em;
    }
    .column-under-text-1 p {
        margin-bottom: 0;
    }
    .red-button-common {
        margin-top: 0;
        margin-bottom: 2.5em;
    }
    /* Start responsive for absence of infertility page */
    .absence-under-arrow-wrap {
        width: 100% !important;
    }
    .absence-under-arrow-wrap {
       font-size: 17px !important;
    }
}



@media (min-width: 374px) and (max-width: 400px) {
    .colright-mobile p {
       font-size: 19px !important;
    }
}
@media (min-width: 536px) and (max-width: 767px) {
    .colright-mobile {
        top: 2em !important;
    }
}










@media (min-width: 480px) and (max-width: 767px) {
    .col-topbg-web {
        display: none;
    }
    .col-topbg-mobile {
        display: block;
        position: relative;
    }
    .columnview-container {
        margin-top: 4.5em;
    }
    .col-sbtitle {
        margin-top: 0;
        font-size: 18px;
        text-align: center;
    }
    .top-arrow-bg-wrap {
        position: relative;
        display: inline-block;
        left: 23em;
        top: 3em;
        left: 50%;
        transform: translate(-50%, -73%);
    }
    .column-top-bg-content { 
        width: 90%;
        top: 16px;
    }
    .col-title {
        color: #f15474;
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        width: 100%;
        margin-top: -4px;
    }
    .col-title span {
        display: block;
    }
    .column-mid-img-wrapper {
        width: 100%;
    }
    .column-mid-left-bg {
        background-image: none;
        background-color: #57aeb2;
    }
    .mobile-common-img {
        display: block;
    }
    .web-common-img {
        display: none;
    }
    .col-common-pink-circle {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 10px;
    }
    .common-mid-text h4 {
    font-size: 13px;
    line-height: 22px
    }
    .col-common-media {
        top: 5px;
        left: 11px;
    }
    .column-bottom-before-list li {
        font-size: 18px;
    }
    .column-bottom-before-list li:before {
        margin-left: -1.3em;
        font-size: 24px;
    }
    .column-bottom-before-title {
        border-bottom: 3px solid #57aeb2;
        padding-bottom: 5px;
        margin-bottom: 1em;
        font-size: 19px;
        margin-top: 1em;
    }
    .column-after-red-text {
        font-size: 17px !important;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 2em;
    }
    .columnceo-mobile-bg {
        display: block;
    }
    .column-ceo-web-bg {
        display: none;
    }
    .col-right-web {
        display:none;
    }



    .colright-mobile {
        display: block;
        top: 1.7em;
        text-align: center;
        width: 100%;
        color: #ffffff;
    }
    .yellow-mb-btn {
        color: #ffffcc;
    }
    .colright-mobile p {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0;
        margin-left: 14%;
    }




    /* .colright-mobile {
        display: block;
        top: 2em;
        left: 34%;
    }
    .colright-mobile p {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
    } */
    .column-bottom-before {
        margin-top: 80px;
    }
    /* start responsive for column under page (480-767px) */
    .box {
        width: 100%;
        height: 88px;
        background-color: #ffe4f2;
        color: #000;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .columnunder_container .col-under-secondone .media {
        display: flex;
    }
    .columnunder_container {
        margin-top: 4em;
    }
    .colunder-top-mobile1 {
        display: block;
        position: relative;
        height: 65px;
        max-width: 100%;
    }
    .colunder-top1-web {
        display: none;
    }
    .col-under-top1-wrapper img {
        max-width: 100%;
    }
    .col-under-firstone h3 {
        font-size: 14px;
    }
    .colunder-top-mobile2mobile {
        display: block;
    }
    .colunder-top-mobile2web {
        display: none;
    }
    .common-horizontal-line:before, .common-horizontal-line:after {
        width: 3.7em;
    }
    .common-horizontal-line span {
        font-size: 24px;
    }
    .colunder-top1-contentwrapper {
        width: 100%;
        top: 23px;
        padding-left: 5px;
    }
    .col-under-firstone h3 {
        padding-left: 5px;
    }
    .column-under-list-title span {
        font-size: 20px;
    }
    .column-under-top-list-wrapper {
        width: 100%;
    }
    .colunder-common-media {
        top: 2em;
        left: 1em;
    }
    .content-container .breadcrumb {
        margin-bottom: 0;
    }
    .col-under-secondone {
        top: -8px;
    }
    .column-under-top-list-wrapper {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .columnunder-bottom-before-list {
        margin-left: 0;
    }
    .columnunder-bottom-before-list li:before {
        font-size: 25px;
    }
    .columnunder-bottom-before-list li {
        font-size: 16px;
    }
    .column-under-text-1 .media {
        display: block;
    }
    .common-media-body {
        padding-left: 0;
    }
    .column-under-middle2-list-wrapper {
        width: 100%;
        padding: 15px !important;
    }
    .unordercol-list li {
        font-size: 17px;
    }
    .bol-under-isto {
        padding: 10px;
        font-size: 18px;
    }
    .bol-under-isto span {
        padding-left: 25px;
    }
    .col-under-media-text-container {
        margin-right: 0;
    }
    .colunder-middle2-container h5,
    .colunder-middle2-container h6 {
        padding-top: 15px;
    }
    .ceo-right-text {
        font-size: 14px;
        margin-bottom: 0;
        padding-left: 12px;
    }
    .blue-text-common span {
        padding-left: 5%;
    }
    .colunder-right-section {
        display: none;
    }
    .column-under-text-1 .media img {
        margin-bottom: 15px;
        width: 100%;
    }
    .top-first-right-img {
        margin-bottom: 15px;
    }
    /* Start responsive for inconvenient truth [Article-2] page (480-767)*/
    .common-responsive-img {
        max-width: 100%;
    }
    .column-under-text-1 .inconvenient-media-wrap img {
        max-width: 100% !important;
    }
    .incon-truth-red-btn a {
        width: 100%;
    }
    .incon-truth-second-wrapper .bol-under-isto {
        width: 100% !important;
    }
    .inconvenient-media {
        top: 3.5em !important;
    }
    /* Start responsive for cost of infertility [Article-3] page (480-767)*/

    .red-button-common {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    .cost-graph1-text {
        margin-left: 10% !important;
    }
    .cost-graph-list {
        margin-left: 20% !important;
    }
}
@media (min-width: 480px) and (max-width: 515px) {
    .col-topbg-mobile {
        height: 192px;
    }
    
}
@media (min-width: 480px) and (max-width: 575px) {
    .absence-under-arrow-wrap {
        width: 100% !important;
    }
}
@media (min-width: 516px) and (max-width: 767px) {
    .col-sbtitle {
        font-size: 17px;
    }
    .col-title {
        font-size: 25px;
        margin-top: 2px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-topbg-web {
        display: none;
    }
    .col-topbg-mobile {
        display: block;
        position: relative;
    }
    .columnview-container {
        margin-top: 4.5em;
    }
    .col-sbtitle {
        margin-top: 0;
        font-size: 26px;
        text-align: center;
    }
    .top-arrow-bg-wrap {
        position: relative;
        display: inline-block;
        left: 23em;
        top: 3em;
        left: 50%;
        transform: translate(-50%, -73%);
    }
    .column-top-bg-content { 
        width: 90%;
        top: 16px;
    }
    .col-title {
        color: #f15474;
        font-weight: 600;
        font-size: 58px;;
        text-align: center;
        width: 100%;
        margin-top: -4px;
    }
    .col-title span {
        display: block;
    }
    .column-mid-img-wrapper {
        width: 100%;
    }
    .column-mid-left-bg {
        background-image: none;
        background-color: #57aeb2;
    }
    .mobile-common-img {
        display: block;
    }
    .web-common-img {
        display: none;
    }
    .common-mid-text h4 {
        font-size: 21px;
    }
    .col-common-media {
        top: 10px;
    }
    .column-mid-img-wrapper .ceo-container {
        padding-right: 0
    }
    .column-bottom-before-list li {
        font-size: 18px;
    }
    .column-bottom-before-list li:before {
        margin-left: -1.3em;
        font-size: 24px;
    }
    .column-bottom-before-title {
        border-bottom: 3px solid #57aeb2;
        padding-bottom: 5px;
        margin-bottom: 1em;
        font-size: 19px;
        margin-top: 1em;
    }
    .column-after-red-text {
        font-size: 17px !important;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 2em;
    }
    .col-right-wrap {
        position: absolute;
        top: 7.5em;
        font-size: 16px;
        text-align: center;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .colright-mobile {
        display: none;
    }
    .colright-mobile p {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
    }
    .column-bottom-before {
        margin-top: 80px;
    }
    .text-1-right {
        font-size: 19px;
    }
    .col-yellow-text {
        font-size: 21px;
        line-height: 21px;
    }
    .col-white-text {
        font-size: 19px;
    }
    /* start responsive for column under page (768-991px) */
    .box {
        width: 100%;
        height: 88px;
        background-color: #ffe4f2;
        color: #000;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    .columnunder_container .col-under-secondone .media {
        display: flex;
    }
    .columnunder_container {
        margin-top: 4em;
    }
    .colunder-top-mobile1 {
        display: block;
        position: relative;
        height: 65px;
        max-width: 100%;
    }
    .colunder-top1-web {
        display: none;
    }
    .col-under-top1-wrapper img {
        max-width: 100%;
    }
    .col-under-firstone h3 {
        font-size: 14px;
    }
    .colunder-top-mobile2mobile {
        display: none;
    }
    .common-horizontal-line:before, .common-horizontal-line:after {
        width: 3.7em;
    }
    .common-horizontal-line span {
        font-size: 24px;
    }
    .colunder-top1-contentwrapper {
        width: 100%;
        top: 23px;
        padding-left: 5px;
    }
    .col-under-firstone h3 {
        padding-left: 5px;
    }
    .column-under-list-title span {
        font-size: 20px;
    }
    .column-under-top-list-wrapper {
        width: 100%;
    }
    .colunder-common-media {
        top: 2em;
        left: 1em;
    }
    .content-container .breadcrumb {
        margin-bottom: 0;
    }
    .col-under-secondone {
        top: -8px;
    }
    .column-under-top-list-wrapper {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .columnunder-bottom-before-list {
        margin-left: 0;
    }
    .columnunder-bottom-before-list li:before {
        font-size: 25px;
    }
    .columnunder-bottom-before-list li {
        font-size: 16px;
    }
    .column-under-text-1 .media {
        display: block;
    }
    .common-media-body {
        padding-left: 0;
    }
    .column-under-middle2-list-wrapper {
        width: 100%;
        padding: 15px !important;
    }
    .unordercol-list li {
        font-size: 17px;
    }
    .bol-under-isto {
        padding: 10px;
        font-size: 18px;
    }
    .bol-under-isto span {
        padding-left: 25px;
    }
    .col-under-media-text-container {
        margin-right: 0;
    }
    .colunder-middle2-container h5,
    .colunder-middle2-container h6 {
        padding-top: 15px;
    }
    .ceo-right-text {
        font-size: 14px;
        margin-bottom: 0;
        padding-left: 12px;
    }
    .blue-text-common span {
        padding-left: 5%;
    }
    .column-under-text-1 .media img {
        margin-bottom: 15px;
        width: 100%;
    }
    .top-first-right-img {
        margin-bottom: 15px;
    }
    /* Start responsive for inconvenient truth [Article-2] page (768-991)*/
    .incon-truth-second-wrapper .bol-under-isto {
        width: 80% !important;
        font-size: 15px
    }
    .common-responsive-img {
        width: 100%;
    }
     /* Start responsive for cost of infertility [Article-3] page (768-991)*/
    .cost-of-middle-container {
        margin-bottom: 0 !important;
    }
    .red-button-common {
        margin-top: 0;
        margin-bottom: 1.5em;
    }
    /* Start responsive for absence of infertility [Article-4] page (768-991)*/
    .absence-under-arrow-wrap {
        font-size: 18px !important;
    }
    .col-ceo-introduce-wrap {
       width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .col-sbtitle {
        margin-top: 19px;
    }
    .col-title {
       font-size: 42px;
    }
    .col-common-pink-circle {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 13px;
    }
    .common-mid-text h4 {
        font-size: 18px;
    }
    .text-1-right {
        font-size: 19px;
    }
    .col-yellow-text {
        font-size: 21px;
        line-height: 21px;
    }
    .col-white-text {
        font-size: 19px;
    }
    .col-right-wrap {
        position: absolute;
        top: 10.5em;
        font-size: 16px;
        text-align: center;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .colright-mobile {
        display: none;
    }
    /*start for responsive of column under (992-1199) page */
    .box {
        width: 100%;
        font-size: 14px;
    } 
}




/* Start css for inconvinient truth[Article2] page */
.yellow-bg {
    display: inline;
    background-color: #ffffcc !important;
    color: #000 !important;
    font-weight: 600 !important;
}
.column-under-text-1 .inconvenient-media-wrap img {
    max-width: initial;
}

.inconvenient-media-img {
    min-width: 100% !important;
}
.bol-under-isto i{
    padding-left: 10px;
    padding-right: 10px;
}
.incon-truth-second-wrapper .bol-under-isto {
    width: 67%;
    display: table;
    margin: 0 auto;
    margin: 0 auto 15px;
}
/* Start css for infertility cose[article3] page */
.infertility-cost-middle {
    display: table;
    margin: 0 auto 30px;
}
.red-text {
    color: #ff1100!important;
}
.blue-bg {
    background-color: #cff3f5;
    color: #000077;
    font-weight: 600;
    padding: 7px;
    font-size: 19px;
}
.hyperlink-cost {
    text-decoration: underline;
    font-size: 16px;
    word-wrap: break-word;
}
.cost-graph1 {
    display: table;
    margin:  0 auto;
}
.cost-graph1-text {
    margin-left: 21%;
}
.cost-graph-list {
    margin-left: 31%;
}
.cost-graph-list p a {
    text-decoration: underline;
}
.cost-of-isto {
    padding: 14px !important; 
    margin-bottom: 30px !important;
}
.cost-of-middle-container {
    margin-bottom: 30px;
}
.blue-bg-wrapper {
    margin-bottom: 20px;
}
.cost-of-media-wrap {
    margin-bottom: 1.3em;
}
.column-bottom-before-title a {
    color: #006699 !important;
    text-decoration: none;
}

.order-sublist-span {
    margin-left: 4em;
}
.column-under-middle1-list.colunder-unorder-wrapper li p {
    display: inline;
}
.burden-content-box-wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.absence-bottom-arrow {
    position: relative;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
}
.absence-bottom-arrow:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 46%;
    margin-left: 0px;
    width: 0;
    height: 0;
    border-top: solid 20px #57aeb2;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}
.absence-under-arrow-wrap {
    width: 80%;
    display: table;
    margin: 0 auto;
    margin: 0 auto 15px;
}
.absence-under-arrow-wrap {
    background-color: #f7f7f7;
    padding: 26px;
    border: 2px solid #aaaaaa;
    color: #000;
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
}
.absence-media-list-wrapper li {
    color: #111111;
    font-weight: 500;
    line-height: 27px;
    list-style: none;
}

.text-bg-pink{
    background: #fdcbd5;
    padding: 1px;
}

ul.absence-media-list-wrapper{
    padding-left: 0;
}

li.circle{
    list-style: none;
}
ul.circle-before{
    padding-left: 0px;
}
.circle::before{
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   background-color: #69b6d5;
}

/* Start style for combine infertility page */
.common-anchor {
    text-decoration: underline;
    word-wrap: break-word;
    
}
.bol-under-isto.cost-of-isto.one-of-one-box-wrap {
    width: 90%;
    margin: 0 auto;
    padding: 25px !important;
}

.one-of-one-box-text {
    margin-bottom: 0 !important;
    text-align: left;
}

.mobile-br a br{
    display: block;
}