@media only screen and (min-width: 980px) and (max-width: 1280px){
    
    /* .m_v_ok{
    display: none;
}

.media-body.one.m_v_off {
display: none;
}

.media-body.one.m_v_ok {
display: none;
} */

}


.bol-under-isto.cost-of-isto ul {
    margin-left:0;
    padding-left:0;  
}
.bol-under-isto.cost-of-isto ul li {
    display: inline-block;
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .bol-under-isto.cost-of-isto ul li {
        display: inline-block;
    }

}	

/* Mobile Layout: 320px.*/
@media only screen and (max-width: 767px) {

.bol-under-isto.cost-of-isto ul li {
    display: block;
}

/* .media-body.one.m_v_ok img {
    width: 100%;
    padding-bottom: 10px;
}

.media-body.one.m_v_ok{
    display: block;
} */

i.fas.fa-long-arrow-alt-right {
    transform: rotate(90deg);
}


/* .media-body.displayFor_mobile img {
    width: 100%;
}
.common-mid-text-banner h4 {
    font-size: 19px;
    } */
}

/*Wide Mobile Layout: 480px.*/
@media only screen and (min-width: 480px) and (max-width: 767px){

.bol-under-isto.cost-of-isto ul li {
    display: block;
}

/* .media-body.one.m_v_ok img {
    width: 100%;
    padding-bottom: 10px;
}

.media-body.one.m_v_ok{
    display: block;
} */



i.fas.fa-long-arrow-alt-right {
    transform: rotate(90deg);
}
/* .media-body.displayFor_mobile img {
width: 100%;
} */

}